.cards {
    height: 250px;
    min-width: 240px;
    /* max-width: 350px; */
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
}

.cardWrap{
    width: 100%;
}